@model IEnumerable<SUP_MVC.Models.About.AboutViewModel>

@{
	ViewData["Title"] = "About";
}

<head>
	<meta charset="utf-8">
	<title>Search</title>
	<style>
        .box {
            display:flex;
        }
        .photo {
            height:auto;
        }
        .container {
            direction:inherit;
        }
        .hyperLink {
            margin-left: 15%;
            margin-top: 5%;
            width: 70%;
            height: 60px;
            background-color: #FFD700;
            border: 1px solid black;
            padding-top: 12px;
            overflow:hidden;
        }
	</style>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body class="organize">
    <div class="box">
        <div style="position: absolute; left: 15%; top: 10%; width: 85%;">
            <div class="photo"><img src="../../logo.jpg" /></div>
            <div class="container">
                <p align="center" style="font-size:30px;"><b>Welcome to the Superior Unified Program(SUP).</b> &copy; <sub>2019</sub></p>
                <p align="center" style="font-size:18px;">With this System you can search for clients, add them to the central database, and perform various output tasks.</p>
                <p>Developers:</p>
                <p align="center" style="font-size:18px;">Justin Heino, Matthew Holcomb, Jacob Leonard, Qingyuan Liu, Duy Nguyen, Marcus Parmeter, Louis Pearson, Chao Wang</p>
               
            </div>
            </a>
        </div>
    </div>
</body>
