@model IEnumerable<SUP_MVC.Models.About.AboutViewModel>

@{
	ViewData["Title"] = "About";
}

<head>
	<meta charset="utf-8">
	<title>Search</title>
	<style>
	</style>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body class="organize">
	<div style="position: absolute; left: 15%; top: 10%; width: 85%;">
		<img src="../../logo.jpg" height="300" />
		<p align="center" style="font-size:30px;"><b>Welcome to the Superior Unified Program(SUP).</b> &copy; <sub>2019</sub></p>
		<p align="center" style="font-size:18px;">With this System you will be able to search for Clients and add them to the central database and perform various output tasks.</p>
		<p>Developers:</p>
		<p align="center" style="font-size:18px;">Justin Heino, Matthew Holcomb, Jacob Leonard, Qingyuan Liu, Duy Nguyen, Marcus Parmeter, Louis Pearson, Chao Wang</p>
	</div>
</body>
