@model IEnumerable<SUP_MVC.Models.Search.SearchViewModel>

@{
	ViewData["Title"] = "Search";
}

<head>
	<meta charset="utf-8">
	<title>Search</title>
	<style>
		.organize {
			text-align: center;
			width: 100%;
			height: 100%;
		}

		.logo {
			height: 95%;
			float: right;
			top: 1px;
			margin-top: 2px;
			margin-right: 2px;
		}

		.universitylogo {
			height: 95%;
			float: right;
			top: 1px;
			margin-top: 2px;
			margin-right: 2px;
		}

		#button {
			text-align: inherit;
		}
        .popupForm{
			display: none;
			background-color: #E0E0E0;
			border: 1px solid black;
			position: fixed;
			bottom: 10%;
			top: 10%;
			left: 10%;
			right: 10%;
			

		}
	</style>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<script>
    function Search() {
        var dataToPost = "TEST";

        /*$.post("Search/SearchClients/", dataToPost)
            .done(function (response, status, jqxhr) {
                console.log("yeay");
            })
            .fail(function (jqxhr, status, error) {
                console.log("nnnneay");
            });*/

        var firstName = $('.searchFirstName').val();
        var lastName = $('.searchLastName').val();
        var organization = $('.organization').val();

        var requestData = JSON.stringify({
            'firstName': firstName,
            'lastName': lastName,
            'organization': organization
               });
        $.ajax({
            url: '/Search/SearchClients',
            type: 'POST',
            data: requestData,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
                console.log("ney");
                console.log(response);
            },
            success: function (result) {
                console.log("yey");
                console.log(result);
            },
            async: true,
            processData: false
        });
    }
    function popForm() {
			document.getElementById("form").style.display = "block";
		}

		function closeForm() {
			document.getElementById("form").style.display = "none";
		}
		function toggle(source) {
  var checkboxes = document.getElementsByName('selectAll');
  for(var checkbox in checkboxes)
    checkbox.checked = source.checked;
  }

function allCheck(name,boolValue) {
	var allvalue = document.getElementsByName(name); 
	for (var i = 0; i < allvalue.length; i++) {      
		if (allvalue[i].type == "checkbox")           
			allvalue[i].checked = boolValue;           
	}
}

function reserveCheck(name){
	var revalue = document.getElementsByName(name); 
	for(i=0;i<revalue.length;i++){
   		if(revalue[i].checked == true) 
			revalue[i].checked = false;
  		else 
			revalue[i].checked = true;
	}
}

</script>

<body class="organize">
    <div style="position: absolute; left: 15%; top: 10%; width: 85%;">
        <table style="margin-left: auto; width: 100%; height: 500px; top: 0; border-collapse: collapse;">
            <tr>
                <td>
                    <table align="center">
                        <tr>
                            <td>
                                <p align="center">First Name</p>
                            </td>
                            <td>
                                <p align="center">Last Name</p>
                            </td>
                            <td>
                                <p align="center">Category</p>
                            </td>
                        </tr>
                        <form action="">
                            <tr>
                                <td>
                                    <input type="text" placeholder="Mar">
                                </td>
                                <td>
                                    <input type="text" placeholder="Lar">
                                </td>
                                <td>
                                    <select name="category">
                                        <option value="business">Business</option>
                                        <option value="electedOfficial">Elected Official</option>
                                        <option value="school">School</option>
                                        <option value="elementary">Elementary</option>
                                        <option value="middle">Middle</option>
                                        <option value="highSchool">High School</option>
                                        <option value="higherEd">Higher Ed.</option>
                                        <option value="nonProfit">Non-profit</option>
                                        <option value="UWSystem">UW-System</option>
                                        <option value="boardOfRegent">Board of Regent</option>
                                        <option value="foundation">Foundation</option>
                                        <option value="other">Other</option>
                                    </select>
                                </td>
                            </tr>
                            <tr><td height="10px"></td></tr>
                            <tr>
                                <td colspan="3">
                                    <input type="submit" value="search" align="right">
                                </td>
                            </tr>
                        </form>
                    </table>
                    <br />
                    <br />
                    <br />
                    <br />
                    <table align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <b style="font-size:18px;">Results</b>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="javascript:allCheck('choice',true)">Select</a>
                                    <a href="javascript:allCheck('choice',false)">No select</a>
                                    <a href="javascript:reserveCheck('choice')"> Inverse</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p><b>First Name</b></p>
                                </td>
                                <td>
                                    <p><b>Last Name</b></p>
                                </td>
                                <td>
                                    <p><b>Category</b></p>
                                </td>
                                <td>
                                    <input type="checkbox" name="choice" id="choice">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="Edit" id="button">
                                </td>
                                <td>
                                    <input type="text" value="Martha">
                                </td>
                                <td>
                                    <input type="text" value="Larson">
                                </td>
                                <td>
                                    <input type="text" value="UW-Superior">
                                </td>
                                <td>
                                    <input type="checkbox" name="choice" id="choice" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="Edit" id="button">
                                </td>
                                <td>
                                    <input type="text" value="Maria">
                                </td>
                                <td>
                                    <input type="text" value="Lariot">
                                </td>
                                <td>
                                    <input type="text" value="UW-Superior">
                                </td>
                                <td>
                                    <input type="checkbox" name="choice" id="choice" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="template" onclick="popForm()" >Select Template</button>
                    <div class="popupForm" id="form">
                        <form action="middlewareHere" class="form-container">
                            <h1>Login</h1>

                            <label for="email"><b>Email</b></label>
                            <input type="text" placeholder="Enter Email" name="email" required>

                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" required>

                            <button type="submit" class="btn">Login</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                        </form>

                    </div>
                </td>

            </tr>
       
            </tbody>
        </table>
    </div>

</body>
</html>