@model SUP_MVC.Models.Search.SearchViewModel

@{
    ViewData["Title"] = "Search";
}
<html>
<head>
    <meta charset="utf-8">
    <title>Search</title>
    <style>
		@@media only screen and (max-width: 600px) {
			#ribbonDiv {
				margin-left: -25%;
			}
			#mainWindow {
				left: -15%;
				position: absolute;
			}
		}

		#mainWindow {
			 position: absolute;
			 left: 15%;
			 top: 10%;
			 width: 85%;
		}

		.templateTable {
		width: 100%;
        position:relative;
        border-collapse:collapse;
		}

        .organize {
            width: 100%;
            height: 100%;
        }

        .logo {
            height: 95%;
            float: right;
            top: 1px;
            margin-top: 2px;
            margin-right: 2px;
        }

        .universitylogo {
            height: 95%;
            float: right;
            top: 1px;
            margin-top: 2px;
            margin-right: 2px;
        }

        #button {
            text-align: inherit;
        }

        .popupForm {
            display: none;
            background-color: #E0E0E0;
            border: 1px solid black;
            position: fixed;
            bottom: 10%;
            top: 10%;
            left: 10%;
            right: 10%;
        }

        .flex-container {
            display: flex;
            width: 100%;
            height: 100px;
            align-items: center;
            flex-direction: row;    
            justify-content: center;
        }

        .sidebar-left {
         align-self:center;
            width: 33.3%;
            margin: 5px;
            padding:10px;

        }
        .sidebar-middle {
            align-self:center;
            width:33.3%;
            margin: 5px;
            padding:10px;


        } 
           .sidebar-right{
            align-self:center;
            width: 33.3%;
            margin: 5px;
            padding:10px;

        }

        .searchResult{
        height: 420px;
        overflow-y:scroll; 
        overflow-x: auto; 
        width: 80%; 
        margin-left: 10%; 
        }

    
        .flex-select{
        width: 14.3%; 
        float: right;
        margin-right: 9.8%;
        margin-left: 75.9%;
        }

		.flex-colum {
		align-content:center;
		overflow: auto;
		width: calc((73%-79px)/6); 
        height: 29px;
        float: left;
        overflow: hidden; 
		}

        .flex-view{
        margin-left:10%;
        width: 56px; 
        float: left;
        }

		.flex-checkBox{
        margin-right:11%;
        width:13px; 
        float:right;
		}

        .yellowizedSelect {
            box-shadow: inset 0px 1px 0px 0px #fcf6cf;
            background: linear-gradient(to bottom, #ffd146 5%, #decc47 100%);
            background-color: #edf035;
            border: 1px solid #241e19;
            display: inline-block;
            cursor: pointer;
            color: #2e1813;
            font-family: Arial;
            font-size: 10px;
            font-weight: bold;
            padding: 3px;
            text-decoration: none;
        }

                 
        .auto_hidden {
            width: 200px;
            border: #E0E0E0;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-left: 1px solid;
            border-right: 1px solid;
            position: absolute;
            display: none;
        }

        .auto_show {
            width: 200px;
            border: #E0E0E0;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-left: 1px solid;
            border-right: 1px solid;
            position: absolute;
            z-index: 9999;
            display: block;
        }

        .auto_onmouseover {
            color: #ffffff;
            background-color: highlight;
            width: 100%;
        }

        .auto_onmouseout {
            color: #000000;
            width: 100%;
            background-color: #ffffff;
        }

        .templateTable {
            background-color: #808080;
        }

        .dataCell {
            width: 100%;
        }

        .yellowizedButton {
            box-shadow: inset 0px 1px 0px 0px #fcf6cf;
            background: linear-gradient(to bottom, #ffd146 5%, #decc47 100%);
            background-color: #edf035;
            border: 1px solid #241e19;
            display: inline-block;
            cursor: pointer;
            color: #2e1813;
            font-family: Arial;
            font-size: 13px;
            font-weight: bold;
            padding: 6px 12px;
            text-decoration: none;
        }

        .yellowizedButton:hover {
            background: linear-gradient(to bottom, #decc47 5%, #ffd146 100%);
            background-color: #d1c060;
        }


        .yellowizedTextField {
            display: inline-block;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            padding: 13px 0 0 13px;
            border: 1.5px solid rgba(28,13,10,1);
            -webkit-border-radius: 2px;
            border-radius: 2px;
            font: normal 16px/normal Arial, Helvetica, sans-serif;
            color: rgba(38,23,17,1);
            -o-text-overflow: clip;
            text-overflow: clip;
            background: rgba(220,220,220,1);
            -webkit-box-shadow: 2px 1px 1px 1px rgba(0,0,0,0.2) inset;
            box-shadow: 2px 1px 1px 1px rgba(0,0,0,0.2) inset;
        }

        ::-webkit-scrollbar {
            width: 13px;
            height: 13px;
        }

        ::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }

        ::-webkit-scrollbar-thumb {
            background: #dfcd50;
            border: 0px none #24211e;
            border-radius: 50px;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #daca40;
            }

            ::-webkit-scrollbar-thumb:active {
                background: #c7a444;
            }

        ::-webkit-scrollbar-track {
            background: rgb(176,176,176);
            border: 1px solid #000000;
            border-radius: 50px;
        }

            ::-webkit-scrollbar-track:hover {
                background: rgb(176,176,176);
            }

            ::-webkit-scrollbar-track:active {
                background: rgb(176,176,176);
            }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }

        .custom-select {
          position: relative;
          font-family: Arial;
        }

        .custom-select select {
          display: none; /*hide original SELECT element:*/
        }

        .select-selected {
          background-color: yellow;
        }

        /*style the arrow inside the select element:*/
        .select-selected:after {
          position: absolute;
          content: "";
          top: 14px;
          right: 10px;
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-color: #fff transparent transparent transparent;
        }

        /*point the arrow upwards when the select box is open (active):*/
        .select-selected.select-arrow-active:after {
          border-color: transparent transparent #fff transparent;
          top: 7px;
        }

        /*style the items (options), including the selected item:*/
        .select-items div,.select-selected {
          color: #ffffff;
          padding: 8px 16px;
          border: 1px solid transparent;
          border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
          cursor: pointer;
          user-select: none;
        }

        /*style items (options):*/
        .select-items {
          position: absolute;
          background-color: yellow;
          top: 100%;
          left: 0;
          right: 0;
          z-index: 99;
        }

        /*hide the items when the select box is closed:*/
        .select-hide {
          display: none;
        }

        .select-items div:hover, .same-as-selected {
          background-color: rgba(0, 0, 0, 0.1);
        }

        .customInput {
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
          padding: 8px 8px 8px 8px;
          border-top: 1px solid #b7b7b7;
          border-right: 2px solid #b7b7b7;
          border-bottom: 1px solid #b7b7b7;
          border-left: 2px solid #b7b7b7;
          -webkit-border-radius: 5px / 40px;
          border-radius: 5px / 40px;
          font: normal 16px/normal Arial, Helvetica, sans-serif;
          color: rgba(0,0,0,1);
          -o-text-overflow: clip;
          text-overflow: clip;
          background: rgba(255,255,224,1);
          -webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.2) inset;
          box-shadow: 2px 2px 0 0 rgba(0,0,0,0.2) inset;
          text-shadow: 1px 1px 0 rgba(254,255,242,1) ;
        }

            </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
    
       
    //CUSTOM SELECT BOX
        var x, i, j, selElmnt, a, b, c;
        /*look for any elements with the class "custom-select":*/
        x = document.getElementsByClassName("custom-select");
        for (i = 0; i < x.length; i++) {
          selElmnt = x[i].getElementsByTagName("select")[0];
          /*for each element, create a new DIV that will act as the selected item:*/
          a = document.createElement("DIV");
          a.setAttribute("class", "select-selected");
          a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
          x[i].appendChild(a);
          /*for each element, create a new DIV that will contain the option list:*/
          b = document.createElement("DIV");
          b.setAttribute("class", "select-items select-hide");
          for (j = 1; j < selElmnt.length; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function(e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                h = this.parentNode.previousSibling;
                for (i = 0; i < s.length; i++) {
                  if (s.options[i].innerHTML == this.innerHTML) {
                    s.selectedIndex = i;
                    h.innerHTML = this.innerHTML;
                    y = this.parentNode.getElementsByClassName("same-as-selected");
                    for (k = 0; k < y.length; k++) {
                      y[k].removeAttribute("class");
                    }
                    this.setAttribute("class", "same-as-selected");
                    break;
                  }
                }
                h.click();
            });
            b.appendChild(c);
          }
          x[i].appendChild(b);
          a.addEventListener("click", function(e) {
              /*when the select box is clicked, close any other select boxes,
              and open/close the current select box:*/
              e.stopPropagation();
              closeAllSelect(this);
              this.nextSibling.classList.toggle("select-hide");
              this.classList.toggle("select-arrow-active");
            });
        }
        function closeAllSelect(elmnt) {
          /*a function that will close all select boxes in the document,
          except the current select box:*/
          var x, y, i, arrNo = [];
          x = document.getElementsByClassName("select-items");
          y = document.getElementsByClassName("select-selected");
          for (i = 0; i < y.length; i++) {
            if (elmnt == y[i]) {
              arrNo.push(i)
            } else {
              y[i].classList.remove("select-arrow-active");
            }
          }
          for (i = 0; i < x.length; i++) {
            if (arrNo.indexOf(i)) {
              x[i].classList.add("select-hide");
            }
          }
        }
        /*if the user clicks anywhere outside the select box,
        then close all select boxes:*/
        document.addEventListener("click", closeAllSelect);

    //_________________________

		$(document).ready(function () {
			Search();

            $('.searchOrganization').change(function () {
                Search();
            });
            $('.checkAll').click(function () {
                var checkedAll = false;
                checkedAll = $('.checkAll').prop('checked');
                $('.rowSelected').each(function () {
                    if (checkedAll != $(this).prop('checked')) {
                        $(this).click();
                    }
                });
            })
        })

        function Export() {
            var dataPost = "";
            $('.rowViewButton').each(function () {
                var curParent = $(this).parent().parent();

                console.log(curParent);
                console.log(curParent.find(':checkbox'))
                console.log(curParent.find(':checkbox').prop('checked'));
                if (curParent.find(':checkbox').prop('checked') == true)
                    dataPost += $(this).val() + " ";
            });
            console.log(dataPost);
            $.ajax({
                url: '/Search/ExportSearch',
                type: 'POST',
                data: JSON.stringify(dataPost),
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    returnedData = JSON.parse(result);
                    if (returnedData != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "Search", Action = "DownloadExcel" })/?fileName=" + returnedData;
            }
                },
                async: true,
                processData: false
            });
        }

		function TemplateMerge() {
			var radioValue = $("input[class='selecter']:checked").val();
            var dataPost = radioValue + " ";
            $('.rowViewButton').each(function () {
                var curParent = $(this).parent().parent();

                console.log(curParent);
                console.log(curParent.find(':checkbox'))
                console.log(curParent.find(':checkbox').prop('checked'));
                if (curParent.find(':checkbox').prop('checked') == true)
                    dataPost += $(this).val() + " ";
            });
            console.log(dataPost);
            $.ajax({
                url: '/Search/TemplateMerge',
                type: 'POST',
                data: JSON.stringify(dataPost),
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    returnedData = JSON.parse(result);
					if (returnedData != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "Search", Action = "DownloadZipFile" })/?fileName=" + returnedData;
            }
                },
                async: true,
                processData: false
            });
        }

		function ExportTemplate() {
			var dataPost = "";
            $('.rowViewButton').each(function () {
                var curParent = $(this).parent().parent();

                console.log(curParent);
                console.log(curParent.find(':checkbox'))
                console.log(curParent.find(':checkbox').prop('checked'));
                if (curParent.find(':checkbox').prop('checked') == true)
                    dataPost += $(this).val() + " ";
            });
            console.log(dataPost);
            $.ajax({
                url: '/Search/TemplateMerge',
                type: 'POST',
                data: JSON.stringify(dataPost),
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    returnedData = JSON.parse(result);
                    if (returnedData != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "Search", Action = "DownloadTemplate" })/?fileName=" + returnedData;
            }
                },
                async: true,
                processData: false
            });
		}

		function LoadTemplates() {
            var dataPost = "";
            $.ajax({
                url: '/Search/GetTemplateInfo',
                type: 'POST',
                data: JSON.stringify(dataPost),
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
					returnedData = JSON.parse(result);
					$('.templateTableRow').remove();
					$('.templateRowTemplate').hide();
					for (var i = 0; i < returnedData.length; i++) {
						var splitter = returnedData[i].lastIndexOf(" ");
						var name = returnedData[i].substring(0, splitter);
						var date = returnedData[i].substring(splitter + 1);
						console.log(name);
						console.log(date);
						var Row = $('.templateRowTemplate').clone();
						Row.removeClass('templateRowTemplate').addClass('templateTableRow').show();
						Row.find('.rowTemplateName').text(name);
						Row.find('.rowTemplateDate').text(date);
						Row.find('.selecter').val(name);
						$('.templateRowTemplate').parent().append(Row);
						Row.show();
					}
                },
                async: true,
                processData: false
            });
        }

		function Search() {
            var firstName = $('.searchFirstName').val();
            var lastName = $('.searchLastName').val();
            var organization = $(".searchOrganization option:selected").text(); //$('.searchOrganization').val();
            var active = ($('.displayOnlyActiveClientsInput:checked').length < 1);
            var dataPost = firstName + ',' + lastName + ',' + organization + ',' + active;
            $.ajax({
                url: '/Search/SearchClients',
                type: 'POST',
                data: JSON.stringify(dataPost),
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    returnedData = JSON.parse(result);
                     
                     
                    $('.removableRow').remove();
					$('.firstName').remove();
					$('.lastName').remove();
                    $('.templateRow').hide();
                    if (returnedData.length == 0)
                    {
                        $('.templateRow').show();
                    }
                    for (var i = 0; i < returnedData.length; i++)
                    {
						var currentRow = returnedData[i];
						var hasPermit = (currentRow['Permit_Num'] != "");
						if ($('.displayOnlyHasPermit').prop('checked') == false || hasPermit) {

							var Row = $('.templateRow').clone();
							Row.removeClass('templateRow').addClass('removableRow').show();
							Row.find('.rowFirstName').val(currentRow['First_Name']);
							Row.find('.rowLastName').val(currentRow['Last_Name']);

							if (currentRow['Email'] != null) {
								Row.find('.rowEmailAddress').val(currentRow['Email']['Email']);
							}
							if (currentRow['Phone'] != null) {
								Row.find('.rowPhoneNumber').val(currentRow['Phone']['Number']);
							}
							if (currentRow['Org'] != null) {
								Row.find('.rowOrganization').val(currentRow['Org']['Org_Name']);
								Row.find('.rowJobTitle').val(currentRow['Org']['Title']);
							}
							var clientId = currentRow['ID']
							Row.find('.rowViewButton').val(clientId);

							//autocomplete
							var firstNameRow = $('.firstNameTemplate').clone();
							firstNameRow.removeClass('firstNameTemplate').addClass('firstName');
							firstNameRow.text(currentRow['First_Name']);
							$('.firstNamesList').append(firstNameRow);

							var lastNameRow = $('.lastNameTemplate').clone();
							lastNameRow.removeClass('lastNameTemplate').addClass('lastName');
							lastNameRow.text(currentRow['Last_Name']);
							$('.lastNamesList').append(lastNameRow);


							$('.checkedId').each(function (index) {
								if ($(this).text() == clientId) {
									Row.find('.rowSelected').prop('checked', true);
								}
							});
							$('.templateRow').parent().append(Row);
						}
                    }
                    $('.rowViewButton').unbind('click').click(function ()
                    {
                        editClient($(this).val());
                    });
                    $('.rowSelected').unbind('click');
                    $('.rowSelected').click(function ()
                    {
                        var clientId = $(this).parent().parent().find('.rowViewButton').val();
                        if ($(this).prop('checked') == true)
                        {
                            var Row = $('.checkedIdTemplate').clone();
                            Row.removeClass('checkedIdTemplate').addClass('checkedId');
                            Row.text(clientId);
                            $('.checkedIdsDiv').append(Row);
                        }
                        else
                        {
                            $('.checkedId').each(function (index)
                            {
                                if ($(this).text() == clientId)
                                {
                                    $(this).remove();
                                }
                            });
                        }
                    });
                },
                async: true,
                processData: false
            });
		}


        function editClient(clientId)
        {
            location.href = '/AddClient/AddClient?clientId=' + clientId;
        }

        function popSetup()
        {
            document.getElementById("setup").style.display = "flex";
        }

        function closeSetup()
        {
            document.getElementById("setup").style.display = "none";
        }
        function popConfirm()
        {

            document.getElementById("confirmation").style.display = "flex";
        }
        function closeConfirm()
        {
            document.getElementById("confirmation").style.display = "none";
        }
        function toggle(source)
        {
            var checkboxes = document.getElementsByName('selectAll');
            for (var checkbox in checkboxes)
                checkbox.checked = source.checked;
        }

        function allCheck(name, boolValue)
        {
            var allvalue = document.getElementsByName(name);
            for (var i = 0; i < allvalue.length; i++)
            {
                if (allvalue[i].type == "checkbox")
                    allvalue[i].checked = boolValue;
            }
        }

        function reserveCheck(name)
        {
            var revalue = document.getElementsByName(name);
            for (i = 0; i < revalue.length; i++)
            {
                if (revalue[i].checked == true)
                    revalue[i].checked = false;
                else
                    revalue[i].checked = true;
                // revalue[i].checked = selected;
            }
        }



        var $ = function (id)
        {
            return "string" == typeof id ? document.getElementById(id) : id;
        }
        var combine = function (result, a)
        {
            return function ()
            {
                return a.apply(result, arguments);
            }
        }
        function AutoComplete(input, node_Div, repeat)
        {
            this.input = $(input);        
            this.node_Div = $(node_Div);
            this.noRepeat = repeat;        
            this.index = -1;          //index on div
            this.searchValue = "";   //save searching input
        }
        AutoComplete.prototype =
        {
            //initialize the div position
            initialize: function ()
            {
                this.node_Div.style.left = this.input.offsetLeft + "px";
                this.node_Div.style.top = this.input.offsetTop + this.input.offsetHeight + "px";
                this.node_Div.style.width = this.input.offsetWidth - 2 + "px";
            },

            deleteDiv: function ()
            {
                while (this.node_Div.hasChildNodes())
                {
                    this.node_Div.removeChild(this.node_Div.firstChild);
                }
                this.node_Div.className = "auto_hidden";
            },

            setValue: function (object)
            {
                return function ()
                {
                    object.input.value = this.seq;
                    object.node_Div.className = "auto_hidden";
                }
            },

            autoOnmouseover: function (object, index_div)
            {
                return function ()
                {
                    var length;
                    object.index = index_div;
                    length = object.node_Div.children.length;
                    for (var i = 0; i < length; i++)
                    {
                        if (i != object.index)
                        {
                            object.node_Div.childNodes[i].className = 'auto_onmouseout';
                        }
                        else
                        {
                            object.node_Div.childNodes[i].className = 'auto_onmouseover';
                        }
                    }
                }
            },

            nameChanged: function (length)
            {
                for (var i = 0; i < length; i++)
                {
                    if (i != this.index)
                    {
                        this.node_Div.childNodes[i].className = 'auto_onmouseout';
                    }
                    else
                    {
                        this.node_Div.childNodes[i].className = 'auto_onmouseover';
                        this.input.value = this.node_Div.childNodes[i].seq;
                    }
                }
            }
            ,

            pressKey: function (event)
            {
                var length = this.node_Div.children.length;
                //"↓"
                if (event.keyCode == 40)
                {
                    ++this.index;
                    if (this.index > length)
                    {
                        this.index = 0;
                    }
                    else if (this.index == length)
                    {
                        this.input.value = this.searchValue;
                    }
                    this.nameChanged(length);
                }
                //"↑"
                else if (event.keyCode == 38)
                {
                    this.index--;
                    if (this.index < -1)
                    {
                        this.index = length - 1;
                    }
                    else if (this.index == -1)
                    {
                        this.input.value = this.searchValue;
                    }
                    this.nameChanged(length);
                }
                //enter
                else if (event.keyCode == 13)
                {
                    this.node_Div.className = "auto_hidden";
                    this.index = -1;
                }
                else
                {
                    this.index = -1;
                }
            },

            start: function (event)
            {
                if (event.keyCode == 8) {
                    this.initialize();
                    this.deleteDiv();
                }
                else if (event.keyCode != 13 && event.keyCode != 38 && event.keyCode != 40)
                {
                    this.initialize();
                    this.deleteDiv();
                    this.searchValue = this.input.value;

                    var arrV = [""];
                    console.log(arrV);
                    $('.firstNamesList').find('.firstName').each(
                        function () {
                            var theText = $(this).text().toLowerCase();
                            var searchedText = $('.searchFirstName').val().toLowerCase();

                            if (theText.match("^" + searchedText)) {
                                var capFirst = theText.charAt(0).toUpperCase()
                                theText = capFirst + theText.substr(1, theText.length);
                                arrV.push(theText);
                            }
                        });
                    if (arrV != undefined && arrV != null)
                    {

                        arrV.sort();
                    }

                    if (this.input.value.replace(/(^\s*)|(\s*$)/g, '') == "") { return; }
                    try { var reg = new RegExp("(" + this.input.value + ")", "i"); }
                    catch (e) { return; }
                    var index = 0;
                    for (var i = 0; i < arrV.length; i++)
                    {
                        if (reg.test(arrV[i]))
                        {
                            var div = document.createElement("div");
                            div.className = "auto_onmouseout";
                            div.seq = arrV[i];
                            div.onclick = this.setValue(this);
                            $(div).click(function () {
                                Search();
                            })
                            div.onmouseover = this.autoOnmouseover(this, index);
                            div.innerHTML = arrV[i].replace(reg, "<strong>$1</strong>");
                            this.node_Div.appendChild(div);
                            this.node_Div.className = "auto_show";
                            index++;
                        }
                    }
                }
                this.pressKey(event);
                window.onresize = combine(this, function () { this.initialize(); });
            },
            startLast: function (event)
            {
                if (event.keyCode == 8) {
                    this.initialize();
                    this.deleteDiv();
                }
                else if (event.keyCode != 13 && event.keyCode != 38 && event.keyCode != 40)
                {
                    this.initialize();
                    this.deleteDiv();
                    this.searchValue = this.input.value;

                    var arrV = [""];
                    $('.lastNamesList').find('.lastName').each(
                        function () {
                            var theText = $(this).text().toLowerCase();
                            var searchedText = $('.searchLastName').val().toLowerCase();

                            if (theText.match("^" + searchedText)) {
                                var capFirst = theText.charAt(0).toUpperCase()
                                theText = capFirst + theText.substr(1, theText.length);
                                arrV.push(theText);
                            }
                        });
                    if (arrV != undefined && arrV != null)
                    {

                        arrV.sort();
                    }

                    if (this.input.value.replace(/(^\s*)|(\s*$)/g, '') == "") { return; }
                    try { var reg = new RegExp("(" + this.input.value + ")", "i"); }
                    catch (e) { return; }
                    var index = 0;
                    for (var i = 0; i < arrV.length; i++)
                    {
                        if (reg.test(arrV[i]))
                        {
                            var div = document.createElement("div");
                            div.className = "auto_onmouseout";
                            div.seq = arrV[i];
                            div.onclick = this.setValue(this);
                            $(div).click(function () {
                                Search();
                            })
                            div.onmouseover = this.autoOnmouseover(this, index);
                            div.innerHTML = arrV[i].replace(reg, "<strong>$1</strong>");
                            this.node_Div.appendChild(div);
                            this.node_Div.className = "auto_show";
                            index++;
                        }
                    }
                }
                this.pressKey(event);
                window.onresize = combine(this, function () { this.initialize(); });
            }
		}

     

            /**/</script>
</head>


<body class="organize">
    <div class="checkedIdsDiv" style="display:none;">
        <p class="checkedIdTemplate"></p>
    </div>
    <div class="firstNamesList" style="display:none;">
        <p class="firstNameTemplate"></p>
    </div>
    <div class="lastNamesList" style="display:none;">
        <p class="lastNameTemplate"></p>
    </div>
    <div id="mainWindow">
        <div style="width: 80%; margin-left: 10%;" align="right">
            <form>
                <div class="flex-container">
                    <div class="sidebar-left">
                        <a>First Name</a><br />
                        <input class="customInput yellowizedTextField searchFirstName" id="search_FirstName" property="firstNameBeginText" type="text" onKeyUp="Search(),autoComplete.start(event)" placeholder="First Name" style="width:100%">
                        <div class="auto_hidden" id="auto"></div>
                        <script>
                            var autoComplete = new AutoComplete('search_FirstName', 'auto', {});//returnedData caused sort, event error
                        </script>
                    </div>
                    <div class="sidebar-middle">
                        <a>Last Name</a><br />
                        <input class="customInput yellowizedTextField searchLastName" id="search_LastName" type="text" property="lastNameBeginText" onKeyUp="Search(),autoCompleteLast.startLast(event)" placeholder="Last Name" style="width:100%">
                        <div class="auto_hidden" id="autoLastName"></div>
                        <script>
                            var autoCompleteLast = new AutoComplete('search_LastName', 'autoLastName', {});//returnedData caused sort, event error
                        </script>
                    </div>

                    <div class="sidebar-right">
                        <a>Organization Type</a><br />
						<select class="custom-select searchOrganization" onKeyUp="Search()" name="category" style="width:100%">
							<!--We need to keep an empty option to allow searches that do not include organization-->
							<option value=""></option>
							<option value="business">Business</option>
							<option value="electedOfficial">Elected Official</option>
							<option value="educationAll">Education - All</option>
							<option value="elementary">Elementary School</option>
							<option value="middle">Middle School</option>
							<option value="highSchool">High School</option>
							<option value="higherEd">Higher Education</option>
							<option value="nonProfit">Non-profit</option>
							<option value="UWSystem">UW-System</option>
							<option value="boardOfRegent">Board of Regent</option>
							<option value="advancement">Advancement & Alumni</option>
							<option value="government">Government</option>
							<option value="other">Other</option>
						</select>
                    </div>

                </div>

            </form>
			<div style="float:left; margin-left: 45%;">
				<div>
					<p style="float:left;">Display Inactive: </p>
					<input style="margin-left:12px; margin-top:12px;" type="checkbox" onchange="Search()" class="yellowizedTextField displayOnlyActiveClientsInput" />
				</div>
				<div>
					<p style="float:left;">Has Permit: </p>
					<input style="margin-left:12px; margin-top:12px;" type="checkbox" onchange="Search()" class="yellowizedTextField displayOnlyHasPermit" />
				</div>
			</div>
        </div>
        <div class="flex-select">
            <a href="javascript:allCheck('choice',true)" class="yellowizedSelect">Select all</a>
            <a href="javascript:allCheck('choice',false)" class="yellowizedSelect">No select</a>
            <a href="javascript:reserveCheck('choice')" class="yellowizedSelect">Exclude</a>
        </div>
        <div class="flex-view">
            <p></p>
        </div>
        <div class="flex-colum">
            <p><b>First Name</b></p>
        </div>
        <div class="flex-colum">
            <p><b>Last Name</b></p>
        </div>
        <div class="flex-colum">
            <p><b>Job Title</b></p>
        </div>
        <div class="flex-colum">
            <p><b>Organization Name</b></p>
        </div>
        <div class="flex-colum">
            <p><b>Email</b></p>
        </div>
        <div class="flex-colum">
            <p><b>Phone #</b></p>
        </div>
        <div class="flex-checkBox">
            <input class="yellowizedTextField checkAll" type="checkbox" name="choice" id="choice">
        </div>
        
        <div class="searchResult" align="right">
            <table class="templateTable" cellpadding="0px">
                <tbody style="width:100%">
                    <tr class="templateRow" style="width:100%">
                        <td style="overflow:hidden;">
                            <button class="yellowizedButton rowViewButton dataCell" value="0">View</button>
                        </td>
                        <td style="overflow:hidden;">
                            <input class="yellowizedTextField rowFirstName dataCell" type="text" value="" disabled>
                        </td>
                        <td style="overflow:hidden;">
                            <input class="yellowizedTextField rowLastName dataCell" type="text" value="" disabled>
                        </td>
                        <td style="overflow:hidden;">
                            <input class="yellowizedTextField rowJobTitle dataCell" type="text" value="" disabled>
                        </td>
                        <td style="overflow:hidden;">
                            <input class="yellowizedTextField rowOrganization dataCell" type="text" value="" disabled>
                        </td>
                        <td style="overflow:hidden;">
                            <input class="yellowizedTextField rowEmailAddress dataCell" type="text" value="" disabled>
                        </td>
                        <td>
                            <input class="yellowizedTextField rowPhoneNumber dataCell" type="text" value="" disabled>
                        </td>
                        <td>
                            <input class="rowSelected selectionCell" type="checkbox" name="choice" id="choice" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 100%; margin-top: 5px;">
            <button class="yellowizedButton template" onclick="popSetup(); LoadTemplates();">Select Template</button>
            <button style="margin-left: 20%" class="yellowizedButton excel" onclick="Export()">Export to Excel</button>
        </div>
        <div class="setup" id="setup">
            <div class="topRow">
                <img src="superior_logo.jpg" style="max-height: 100%">
                <img src="logo.jpg" style="max-height: 100%">
            </div>
            <div class="searchRow">
                <form action="middlewareHere">
                    <div>
                        <input type="text" style="width: 80%">
                        <input type="submit" value="search" style="width: 15%">
                    </div>
                </form>
            </div>
            <div class="resultRow">
				<table id="poptable" class="templatePopupTable">
					<tr>
						<th>&nbsp;</th>
						<th>Name</th>
						<th>Date modified</th>
						<th>Uploaded by</th>
					</tr>
					<tr class="templateRowTemplate">
						<td id="radioSet" class="radio"><input class="selecter" type="radio" name="fileName" value=""></td>
						<td id="colSet" class="rowTemplateName"></td>
						<td id="colSet" class="rowTemplateDate"></td>
						<td id="colSet" class="rowTemplateUser"></td>
					</tr>
				</table>
            </div>
            <div class="buttonRow">
                <button class="yellowizedButton continue" onclick="popConfirm()">Continue</button>
            </div>
            <div class="buttonRow">
                <form action="middlewareHere" method="POST" enctype="multipart/form-data">
                    <input type="file" class="browse" name="browse" style="width: 500px;">
                    <input type="button" class="yellowizedButton addTemplate" value="Add Template">
                </form>
                <input class="yellowizedButton closeButton" onclick="closeSetup()" value="Close">
            </div>
        </div>

        <div class="confirmation" id="confirmation">
            <div class="topRow">
                <img src="superior_logo.jpg" style="max-height: 100%">
                <img src="logo.jpg" style="max-height: 100%">
            </div>
            <div class="resultRow">
                <table id="poptable">
                    <tr>
                        <th>Result</th>
                    </tr>
                    <tr>
                        <td id="colSet">Generated 17 parking permits.</td>
                    </tr>
                </table>
            </div>
            <div class="buttonRow">
                
                <button type="submit" class="yellowizedButton continue" onclick="TemplateMerge()">Generate Output</button>
                
            </div>
            <div class="buttonRow">
                <a href="middlewareHere" download>
                    <button class="yellowizedButton browse">Download Output</button>
                </a>
                <button class="yellowizedButton addTemplate" onclick="closeConfirm()">Go Back</button>

                <button class="yellowizedButton closeButton" onclick="closeConfirm(), closeSetup()">Return to Search</button>
            </div>
        </div>
    </div>
</body>
</html>
