@model IEnumerable<SUP_MVC.Models.Search.SearchViewModel>

@{
	ViewData["Title"] = "Search";
}

<head>
	<meta charset="utf-8">
	<title>Search</title>
	<style>
		.organize {
			text-align: center;
			width: 100%;
			height: 100%;
		}

		.logo {
			height: 95%;
			float: right;
			top: 1px;
			margin-top: 2px;
			margin-right: 2px;
		}

		.universitylogo {
			height: 95%;
			float: right;
			top: 1px;
			margin-top: 2px;
			margin-right: 2px;
		}

		#button {
			text-align: inherit;
		}
        .template {
			cursor: pointer;
			position: fixed;
			bottom: 20px;
			right: 30px;
			width: 100px;
		}
		.setup{
			display: none;
			background-color: #E0E0E0;
			border: 1px solid black;
			position: fixed;
			bottom: 10%;
			top: 10%;
			left: 10%;
			width: 80%;
		}
		.closeButton {
			cursor: pointer;
			position: absolute;
			bottom: 20px;
			right: 30px;
			width: 100px;
		}
		.toprow{
			background-color: black;
			height: 5px;
			width: 100%%;
			position: absolute;
			top: 0%;
		}
		.img1{
			position: absolute;
			top: 0px;
			right: 0px;
			height: 100%;
			width: auto;
		}
		.img2{
			position: absolute;
			top: 0px;
			right: 163px;
			height: 100%;
			width: auto;
		}
		.setup input[type=text]{
			position: absolute;
			top: 15%;
			left: 5%;
			height: 20px;
			width: 75%;
		}
		.setup input[type=submit]{
			position: absolute;
			top: 16%;
			right: 5%;
			height: 20px;
			width: 10%;
		}
		.addTemplate{
			cursor: pointer;
			position: absolute;
			bottom: 20px;
			left: 235px;
			width: 100px;
		}
		.browse{
			overflow-x: hidden;
			cursor: pointer;
			position: absolute;
			bottom: 20px;
			left: 30px;
			width: 200px;
		}
		.continue{
			cursor: pointer;
			position: absolute;
			bottom: 60px;
			left: 45%;
			width: 100px;
		}
		.confirmation{
			display: none;
			background-color: #E0E0E0;
			border: 1px solid black;
			position: fixed;
			bottom: 10%;
			top: 10%;
			left: 10%;
			width: 80%;
		}
		#poptable{
			position: absolute;
			left: 5%； 
			top: 25%;
			bottom: 80px
			width: 100%;
		}
		#colSet{
			overflow: auto;
			text-align: left;
			padding: 8px;
		}
		#radioSet{
			text-align: right;
		}
		#poptable th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			width: 250px;
		}

		}
	</style>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<script>
    function Search() {
        var dataToPost = "TEST";

        /*$.post("Search/SearchClients/", dataToPost)
            .done(function (response, status, jqxhr) {
                console.log("yeay");
            })
            .fail(function (jqxhr, status, error) {
                console.log("nnnneay");
            });*/

        var firstName = $('.searchFirstName').val();
        var lastName = $('.searchLastName').val();
        var organization = $('.organization').val();

        var requestData = JSON.stringify({
            'firstName': firstName,
            'lastName': lastName,
            'organization': organization
               });
        $.ajax({
            url: '/Search/SearchClients',
            type: 'POST',
            data: requestData,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
                console.log("ney");
                console.log(response);
            },
            success: function (result) {
                console.log("yey");
                console.log(result);
            },
            async: true,
            processData: false
        });
    }
    function popSetup() {
			document.getElementById("setup").style.display = "block";
		}

		function closeSetup() {
			document.getElementById("setup").style.display = "none";
		}
		function popConfirm() {
			document.getElementById("confirmation").style.display = "block";
		}
		function closeConfirm() {
			document.getElementById("confirmation").style.display = "none";
		}
		function toggle(source) {
  var checkboxes = document.getElementsByName('selectAll');
  for(var checkbox in checkboxes)
    checkbox.checked = source.checked;
  }

function allCheck(name,boolValue) {
	var allvalue = document.getElementsByName(name); 
	for (var i = 0; i < allvalue.length; i++) {      
		if (allvalue[i].type == "checkbox")           
			allvalue[i].checked = boolValue;           
	}
}

function reserveCheck(name){
	var revalue = document.getElementsByName(name); 
	for(i=0;i<revalue.length;i++){
   		if(revalue[i].checked == true) 
			revalue[i].checked = false;
  		else 
			revalue[i].checked = true;
	}
}

</script>

<body class="organize">
    <div style="position: absolute; left: 15%; top: 10%; width: 85%;">
        <table style="margin-left: auto; width: 100%; height: 500px; top: 0; border-collapse: collapse;">
            <tr>
                <td>
                    <table align="center">
                        <tr>
                            <td>
                                <p align="center">First Name</p>
                            </td>
                            <td>
                                <p align="center">Last Name</p>
                            </td>
                            <td>
                                <p align="center">Category</p>
                            </td>
                        </tr>
                        <form action="">
                            <tr>
                                <td>
                                    <input type="text" placeholder="Mar">
                                </td>
                                <td>
                                    <input type="text" placeholder="Lar">
                                </td>
                                <td>
                                    <select name="category">
                                        <option value="business">Business</option>
                                        <option value="electedOfficial">Elected Official</option>
                                        <option value="school">School</option>
                                        <option value="elementary">Elementary</option>
                                        <option value="middle">Middle</option>
                                        <option value="highSchool">High School</option>
                                        <option value="higherEd">Higher Ed.</option>
                                        <option value="nonProfit">Non-profit</option>
                                        <option value="UWSystem">UW-System</option>
                                        <option value="boardOfRegent">Board of Regent</option>
                                        <option value="foundation">Foundation</option>
                                        <option value="other">Other</option>
                                    </select>
                                </td>
                            </tr>
                            <tr><td height="10px"></td></tr>
                            <tr>
                                <td colspan="3">
                                    <input type="submit" value="search" align="right">
                                </td>
                            </tr>
                        </form>
                    </table>
                    <br />
                    <br />
                    <br />
                    <br />
                    <table align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <b style="font-size:18px;">Results</b>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="javascript:allCheck('choice',true)">Select</a>
                                    <a href="javascript:allCheck('choice',false)">No select</a>
                                    <a href="javascript:reserveCheck('choice')"> Inverse</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p><b>First Name</b></p>
                                </td>
                                <td>
                                    <p><b>Last Name</b></p>
                                </td>
                                <td>
                                    <p><b>Category</b></p>
                                </td>
                                <td>
                                    <input type="checkbox" name="choice" id="choice">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="Edit" id="button">
                                </td>
                                <td>
                                    <input type="text" value="Martha">
                                </td>
                                <td>
                                    <input type="text" value="Larson">
                                </td>
                                <td>
                                    <input type="text" value="UW-Superior">
                                </td>
                                <td>
                                    <input type="checkbox" name="choice" id="choice" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="Edit" id="button">
                                </td>
                                <td>
                                    <input type="text" value="Maria">
                                </td>
                                <td>
                                    <input type="text" value="Lariot">
                                </td>
                                <td>
                                    <input type="text" value="UW-Superior">
                                </td>
                                <td>
                                    <input type="checkbox" name="choice" id="choice" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="template" onclick="popSetup()">Select Template</button>
                    <div class="setup" id="setup">
		<div class="toprow">
			<img class="img1" src="superior_logo.jpg"><img class="img2" src="logo.jpg">
		</div>
		<form action="middlewareHere">
			<input type="text">
			<input type="submit" value="search">
		</form>
		<div>
			<table id="poptable">
				<tr>
					<th>&nbsp;</th>
					<th>Name</th>
					<th>Date modified</th>
					<th>Uploaded by</th>
				</tr>
				<tr>
					<td id="radioSet"><input type="radio" name="template"></td>
					<td id="colSet">ParkingPassTemplate</td>
					<td id="colSet">9/9/9999</td>
					<td id="colSet">username1</td>
				</tr>
				<tr>
					<td id="radioSet"><input type="radio" name="template"></td>
					<td id="colSet">LetterTemplate</td>
					<td id="colSet">8/8/8888</td>
					<td id="colSet">thatOneGuy17</td>
				</tr>
				<tr>
					<td id="radioSet"><input type="radio" name="template"></td>
					<td id="colSet">HolidayCardTemplate</td>
					<td id="colSet">1/19/2019</td>
					<td id="colSet">buttercup2000</td>
				</tr>
			</table>
		</div>
		<form action="middlewareHere" method="POST" enctype="multipart/form-data">
			<input type="file" class="browse" name="browse">
			<button type="submit" class="addTemplate" value="Add Template">Add Template</button>
		</form>
		<button class="closeButton"  onclick="closeSetup()">Close</button>
		<button class="continue" onclick="popConfirm()">Continue</button>
	</div>
	<div class="confirmation" id="confirmation">
		<div class="toprow">
			<img class="img1" src="superior_logo.jpg"><img class="img2" src="logo.jpg">
		</div>
		<div>
			<table id="poptable">
				<tr>
					<th>Result</th>
				</tr>
				<tr>
					<td id="colSet">Generated 17 parking permits.</td>
				</tr>
			</table>
		</div>
		<form action="middlewareHere">
			<button type="submit" class="continue">Generate Output</button>
		</form>
		<a href="middlewareHere" download>
			<button class="browse">Download Output</button>
		</a>
		<button class="addTemplate" onclick="closeConfirm()">Go Back</button>
		
		<button class="closeButton"  onclick="closeConfirm(), closeSetup()">Return to Search</button>
	</div>
                </td>

            </tr>
       
            </tbody>
        </table>
    </div>

</body>
</html>