@model SUP_MVC.Models.Search.SearchViewModel

@{
	ViewData["Title"] = "Search";
}

<head>
	<meta charset="utf-8">
	<title>Search</title>
	<style>
		.organize {
			width: 100%;
			height: 1000px;
		}

		.logo {
			height: 95%;
			float: right;
			top: 1px;
			margin-top: 2px;
			margin-right: 2px;
		}

		.universitylogo {
			height: 95%;
			float: right;
			top: 1px;
			margin-top: 2px;
			margin-right: 2px;
		}

		#button {
			text-align: inherit;
		}
        .popupForm{
			display: none;
			background-color: #E0E0E0;
			border: 1px solid black;
			position: fixed;
			bottom: 10%;
			top: 10%;
			left: 10%;
			right: 10%;
			

		}
	</style>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<script>
    $(document).ready(function () {
        $('.searchOrganization').change(function () {
            Search();
        })
    })
    function Search() {
        var firstName = $('.searchFirstName').val();
        var lastName = $('.searchLastName').val();
        var organization = $( ".searchOrganization option:selected" ).text(); //$('.searchOrganization').val();

        var dataPost = firstName+','+lastName+','+organization;
        $.ajax({
            url: '/Search/SearchClients',
            type: 'POST',
            data: JSON.stringify(dataPost),
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                var returnedData = JSON.parse(result);
                $('.removableRow').remove();
                $('.templateRow').hide();
                if (returnedData.length == 0) {
                    $('.templateRow').show();
                }
                for (var i = 0; i < returnedData.length; i++) {
                    var currentRow = returnedData[i];
                    var Row = $('.templateRow').clone();
                    Row.removeClass('templateRow').addClass('removableRow').show();
                    Row.find('.rowFirstName').val(currentRow['First_Name']);
                    Row.find('.rowLastName').val(currentRow['Last_Name']);
                    if (currentRow['Org'] != null) {
                        Row.find('.rowOrganization').val(currentRow['Org']['Org_Name']);
                    }
                    Row.find('.rowEditButton').val(currentRow['ID']);
                    $('.templateRow').parent().append(Row);
                }
                $('.rowEditButton').unbind('click').click(function () {
                    console.log($(this).val());
                    editClient($(this).val());
                });
            },
            async: true,
            processData: false
        });
    }

    function editClient(clientId) {
        location.href = '/AddClient/AddClient?clientId=' + clientId;
    }

    function popForm() {
			document.getElementById("form").style.display = "block";
		}

		function closeForm() {
			document.getElementById("form").style.display = "none";
		}
		function toggle(source) {
  var checkboxes = document.getElementsByName('selectAll');
  for(var checkbox in checkboxes)
    checkbox.checked = source.checked;
  }

function allCheck(name,boolValue) {
	var allvalue = document.getElementsByName(name); 
	for (var i = 0; i < allvalue.length; i++) {      
		if (allvalue[i].type == "checkbox")           
			allvalue[i].checked = boolValue;           
	}
}

function reserveCheck(name){
	var revalue = document.getElementsByName(name); 
	for(i=0;i<revalue.length;i++){
   		if(revalue[i].checked == true) 
			revalue[i].checked = false;
  		else 
			revalue[i].checked = true;
	}
}

</script>

<body class="organize">
    <div style="position: absolute; left: 15%; top: 10%; width: 85%;">
        <table style="position:relative; margin-left: 30%;">
            <tr>
                <td>
                    <p align="center">First Name</p>
                </td>
                <td>
                    <p align="center">Last Name</p>
                </td>
                <td>
                    <p align="center">Category</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="searchFirstName" type="text" onKeyUp="Search()" placeholder="First Name">
                </td>
                <td>
                    <input class="searchLastName" type="text" onKeyUp="Search()" placeholder="Last Name">
                </td>
                <td>
                    <select class="searchOrganization" onKeyUp="Search()" name="category">
                        <!--We need to keep an empty option to allow searches that do not include organization-->
                        <option value=""></option>
                        <option value="business">Business</option>
                        <option value="electedOfficial">Elected Official</option>
                        <option value="school">School</option>
                        <option value="elementary">Elementary</option>
                        <option value="middle">Middle</option>
                        <option value="highSchool">High School</option>
                        <option value="higherEd">Higher Ed.</option>
                        <option value="nonProfit">Non-profit</option>
                        <option value="UWSystem">UW-System</option>
                        <option value="boardOfRegent">Board of Regent</option>
                        <option value="foundation">Foundation</option>
                        <option value="other">Other</option>
                    </select>
                </td>
            </tr>
            <tr><td height="10px"></td></tr>
        </table>
        <table style="position:relative; margin-left: 25%">
                        <tbody>
                            <tr>
                                <td>
                                    <b style="font-size:18px;">Results</b>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="javascript:allCheck('choice',true)">Select</a>
                                    <a href="javascript:allCheck('choice',false)">No select</a>
                                    <a href="javascript:reserveCheck('choice')"> Inverse</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p><b>First Name</b></p>
                                </td>
                                <td>
                                    <p><b>Last Name</b></p>
                                </td>
                                <td>
                                    <p><b>Category</b></p>
                                </td>
                                <td>
                                    <input type="checkbox" name="choice" id="choice">
                                </td>
                            </tr>
                            <tr class="templateRow" style="">
                                <td>
                                    <button class="rowEditButton" value="0">edit</button>
                                </td>
                                <td>
                                    <input class="rowFirstName" type="text" value="" disabled="true">
                                </td>
                                <td>
                                    <input class="rowLastName" type="text" value="" disabled="true">
                                </td>
                                <td>
                                    <input class="rowOrganization" type="text" value="" disabled="true">
                                </td>
                                <td>
                                    <input class="rowSelected" type="checkbox" name="choice" id="choice" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="template" onclick="popForm()" >Select Template</button>
                    <div class="popupForm" id="form">
                        <form action="middlewareHere" class="form-container">
                            <h1>Login</h1>

                            <label for="email"><b>Email</b></label>
                            <input type="text" placeholder="Enter Email" name="email" required>

                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" required>

                            <button type="submit" class="btn">Login</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                        </form>

                    </div>
                </td>

            </tr>
       
            </tbody>
        </table>
    </div>

</body>
</html>