@{
	ViewData["Title"] = "Home Page";
}

<head>

</head>

<body class="organize">



	<div id="contentDiv" style="position: absolute; left: 15%; top: 10%; width: 85%; ">
		<!-- Example round trip Number of Results: Model.NumResultsResult: Model.Result1  -->
	</div>
</body>