@model SUP_MVC.Models.AddUser.AddUserViewModel

@{
    ViewData["Title"] = "AddUser";
}

	<head>
		<meta charset="utf-8" />
		<title>Add User</title>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/js/jsencrypt.js"></script>
		<script src="~/js/sjcl.js"></script>
	</head>
<style>
    .box {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 15%;
        width: 85%;
        justify-content: center;
    }

    .input {
        height: 40px;
        border-radius: 5px;
        outline: none;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove;
        border: 1px solid #a1a1a1;
        line-height: 50%;
    }

    .cell {
        padding-top: 5px;
        float: left;
        line-height: 30px;
        margin-left: 15%;
        text-align: left;
        width: 25%;
    }

	.yellowizedButton {
        box-shadow: inset 0px 1px 0px 0px #fcf6cf;
        background: linear-gradient(to bottom, #ffd146 5%, #decc47 100%);
        background-color: #edf035;
        border: 1px solid #241e19;
        display: inline-block;
        cursor: pointer;
        color: #2e1813;
        font-family: Arial;
        font-size: 13px;
        font-weight: bold;
        padding: 6px 12px;
        text-decoration: none;
    }

	.popup {
        display: none;
        flex-wrap: nowrap;
        overflow: auto;
        background-color: #E0E0E0;
        border: 1px solid black;
        position: fixed;
        bottom: 40%;
        top: 40%;
        left: 40%;
        width: 20%;
        height: 10vw;
        flex-direction: column;
		padding-top: 2vw;
    }

    .popupAlertButtonsDiv input {
        font-size: 0.75vw;
    }

    .popupAlertDiv {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: auto;
        width: 80%;
        height: 10%;
    }

    .popupAlertDiv p {
        font-size: 1vw;
    }

	.confirmButton {
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        height: 65%;
        margin-bottom: 5%;
    }

</style>
<script>


    function Check(form) {
        var pw1 = form.pw1.value;
        var pw2 = form.pw2.value;

        if (pw1 == '') {
            alert("Please enter password!");
        }
        else if (pw2 == '') {
            alert("Please enter confirm password");
        }
        else if (pw1 != pw2) {
            alert("\nPassword did not match! Please enter the right one!")
            return false;
        }
        else {
            return true;
        }
    }

	function addUser() {
		var publicKey = $('.publicKey').html();
		var encrypt = new JSEncrypt();
		encrypt.setPublicKey(publicKey);
        var username = $('.Username').val();
		var password = $('.Password').val();
		var passwordConfirmed = $('.ConfirmPassword').val();
		var accountType = $( ".Usertype option:selected" ).text();
        var office = $( ".Office option:selected" ).text();
		if (password != passwordConfirmed) {
			popPasswordMismatch();
			return "";
		}
		if (username == "" || password == "" || office == "" || accountType == "") {
			popFieldMissing();
			return "";
		}
		var saltedPassword = "SaLtEd" + password;
	    var hp = sjcl.hash.sha256.hash(saltedPassword);
		var hashedPass = sjcl.codec.hex.fromBits(hp);
		var encryptedPassword = encrypt.encrypt(hashedPass);

        var dataPost = username + "," + encryptedPassword + "," + accountType + "," + office;
        $.ajax({
            url: '/AddUser/SubmitUserData',
            type: 'POST',
            data: JSON.stringify(dataPost),
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                var returnedData = JSON.parse(result);
				console.log(returnedData);
                if (result) {
                    popSuccess();
                } else {
                    popFailed();
                }
            },
            async: true,
            processData: false
        });
    }

	function getPublicKey() {
		var dataPost = "";
		$.ajax({
            url: '/Login/GetPublicKey',
            type: 'POST',
            data: JSON.stringify(dataPost),
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
			success: function (result) {
                $(".publicKey").html(result);
            },
            async: true,
            processData: false
		});
	}
	$(document).ready(function () {
		getPublicKey();
	})

	function popupAlert(message) {
		$('.popupMessage').text(message);
		document.getElementById("messagePopup").style.display = "flex";
	}

	function closePopupAlert() {
        document.getElementById("messagePopup").style.display = "none";
    }

	function popSuccess() {
		var msg = "The User was added successfully.";
		popupAlert(msg);
	}

	function popFailed() {
		var msg = "Sorry we were unable to add the user.";
		popupAlert(msg);
	}

	function popNotAdmin() {
		var msg = "Only administrators can add new users.";
		popupAlert(msg);
	}

	function popPasswordMismatch() {
		var msg = "The passwords entered do not match.";
		popupAlert(msg);
	}

	function popFieldMissing() {
		var msg = "All fields must be filled out.";
		popupAlert(msg);
	}
</script>


<body>
	<div class="publicKey" style="height: 0px;" hidden></div>
	<div style="position: absolute; left: 25%; top: 10%; width: 85%;">
		<div class="box">
			<div class="cell">User name*<br /><input class="Username" type="text" placeholder="" required></div>
			<div class="cell">Password*<br /><input class="Password" type="Password" name="pw1" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" value="" required></div>
			<div class="cell">Confirm Password*<br /><input class="ConfirmPassword" type="Password" name="pw2" placeholder="confirm password" required> </div>
			<div class="cell">
				User type*<br /><select class="Usertype" name="state" tabindex="11">
					<option value=""></option>
					<option value="admin">Administrator</option>
					<option value="standard">Standard</option>
				</select>
			</div>
			<div class="cell">
				Office*<br /><select class="Office" name="office" tabindex="11">
					<option value=""></option>
					<option value="CCEL">CCEL</option>
					<option value="CASL">CASL</option>
					<option value="Chancellor's">Chancellor's office</option>

				</select>
			</div>
			<div class="cell"><input type="button" class="submitNewUser yellowizedButton" value="Save" onclick="addUser()" /></div>
		</div>
	</div>
	<div class="popup" id="messagePopup" style="">
		<div class="popupAlertDiv">
			<p class="popupMessage"></p>
		</div>
		<div class="popupAlertButtonsDiv" currentID="">
			<input type="button" class="yellowizedButton confirmButton" id="okButton" value="OK" style="margin-left: 0" onclick="closePopupAlert()">
		</div>
	</div>
</body>

