@page
@model SUP.Pages.Search.SearchModel
@{
	Layout = null;
}
<head>
	<meta charset="utf-8">
	<title>Search</title>
	<style>
		.organize {
			text-align: center;
			width: 100%;
			height: 100%;
		}
		.logo {
			height: 95%;
			float: right;
			top: 1px;
			margin-top: 2px;
			margin-right: 2px;
		}
		.universitylogo {
			height: 95%;
			float: right;
			top: 1px;
			margin-top: 2px;
			margin-right: 2px;
		}

		#button {
			text-align: inherit;
		}
	</style>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body class="organize">
	<div id="banner" style="height: 10%; width:100%; position: absolute; top: 0; left: 0; background: #000000;">
		<img class="universitylogo" src="../../superior_logo.jpg" />
		<img class="logo" src="../../logo.jpg" />
	</div>
	<div id="ribbonDiv" style="height: 100%; width:15%; position: absolute; top: 0; left: 0"></div>
	<div style="position: absolute; left: 15%; width: 85%;">
		<table style="margin-left: auto; width: 100%; height: 500px; top: 0; border-collapse: collapse;">
			<td>
				<table align="center">
					<tr>
						<td>
							<p align="center">First Name</p>
						</td>
						<td>
							<p align="center">Last Name</p>
						</td>
						<td>
							<p align="center">Category</p>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" value="Mar">
						</td>
						<td>
							<input type="text" value="Lar">
						</td>
						<td>
							<select name="category">
								<option value="UW-Superior">UW-Superior</option>
								<option> </option>
							</select>
						</td>
					</tr>
				</table>
				<br />
				<center><input type="submit" value="search" id="button"></center>
				<br />
				<br />
				<br />
				<table align="center">
					<tbody>
						<tr>
							<td>
								<b style="font-size:18px;">Results</b>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<p>Select All</p>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<p><b>First Name</b></p>
							</td>
							<td>
								<p><b>Last Name</b></p>
							</td>
							<td>
								<p><b>Category</b></p>
							</td>
							<td>
								<input type="checkbox" name="select" value="1" checked />
							</td>
						</tr>
						<tr>
							<td>
								<input type="submit" value="Edit" id="button">
							</td>
							<td>
								<input type="text" value="Martha">
							</td>
							<td>
								<input type="text" value="Larson">
							</td>
							<td>
								<select name="category">
									<option value="UW-Superior">UW-Superior</option>
									<option> </option>
								</select>
							</td>
							<td>
								<input type="checkbox" name="select" value="2" checked />
							</td>
						</tr>
						<tr>
							<td>
								<input type="submit" value="Edit" id="button">
							</td>
							<td>
								<input type="text" value="Maria">
							</td>
							<td>
								<input type="text" value="Lariot">
							</td>
							<td>
								<select name="category">
									<option value="UW-Superior">UW-Superior</option>
									<option> </option>
								</select>
							</td>
							<td>
								<input type="checkbox" name="select" value="3" checked />
							</td>
						</tr>
					</tbody>
				</table>
				<br />
				<br />
				<br />
				<br />
				<center><input type="submit" value="template" id="button"></center>
			</td>
		</table>
	</div>
	<script>$('#ribbonDiv').load('..\\ribbon');</script>
</body>