@model IEnumerable<SUP_MVC.Models.Login.LoginViewModel>

@{
ViewData["Title"] = "Login";
Layout = null;
}

<html>
<head>

    <title>Login</title>
    <meta http-equive="Content-Type" charset="utf-8">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jsencrypt.js"></script>
    <script src="~/js/sjcl.js"></script>

    <script>
		function Login() {
			var publicKey = $('.publicKey').html();
			var encrypt = new JSEncrypt();
			encrypt.setPublicKey(publicKey);
            var username = $('.bt_username').val();
			var password = $('.bt_password').val();
			var saltedPassword = "SaLtEd" + password;
            var hp = sjcl.hash.sha256.hash(saltedPassword);
			var hashedPass = sjcl.codec.hex.fromBits(hp);
			var encryptedPassword = encrypt.encrypt(hashedPass);
            var dataPost = username + "," + encryptedPassword;
            $.ajax({
                url: '/Login/AuthenticateUser',
                type: 'POST',
                data: JSON.stringify(dataPost),
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    console.log(result);
                    returnedData = JSON.parse(result);
                    console.log(returnedData);
                    if (returnedData == true) {
                        window.location.href = "@Url.RouteUrl(new { Controller = "Search", Action = "Search" })";
                    }
                    else {
                        alert("Login attempt failed.");
                    }
                },
                async: true,
                processData: false
			});
		}
		function getPublicKey() {
			var dataPost = "";
			$.ajax({
                url: '/Login/GetPublicKey',
                type: 'POST',
                data: JSON.stringify(dataPost),
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
				success: function (result) {
                    $(".publicKey").html(result);
                },
                async: true,
                processData: false
			});
		}
		$(document).ready(function () {
			var passwordInput = document.getElementById("passwordInput");
			console.log(passwordInput);
			passwordInput.addEventListener("keyup", function (event) {
				if (event.keyCode === 13) {
					event.preventDefault();
					document.getElementById("loginButton").click();
				}
			});
			var usernameInput = document.getElementById("usernameInput");
			usernameInput.addEventListener("keyup", function (event) {
				if (event.keyCode === 13) {
					event.preventDefault();
					document.getElementById("loginButton").click();
				}
			});
			getPublicKey();
		})
    </script>
    <link href="~/css/site.css" rel="stylesheet" type="text/css">

    <style>
        .yellow {
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 15%;
            background-image: linear-gradient(to top,white,#FFD700);
        }

        #error {
            color: red;
        }
    </style>
</head>

<body>
	<div class="body yellow">
		<div class="publicKey" style="height: 0px;" hidden></div>
		<form>
			<img src="../../logo.jpg" />
			<br />
			<p><h7>Username:&nbsp;</h7><input type="text" id="usernameInput" class="bt_username" style="height:30px;width:200px;" /></p>
			<p><h7>Password:&nbsp;&nbsp;</h7><input id="passwordInput" type="password" class="bt_password" style="height:30px;width:200px;" /></p>
			<p></p><a id="error"></a></p>
			<br />
			<input type="button" id="loginButton" style="display:inline" class="login_but" onclick="Login()" value="Login" />
		</form>
	</div>

</body>

</html>