@model SUP_MVC.Models.AddClient.AddClientViewModel

@{
	ViewData["Title"] = "AddClient";
}

<head>
	<meta charset="utf-8">
	<title>Search</title>
	<style>
		.tableHeader {
			width: 100%;
			text-align: center;
			font-size: large;
			font-weight: 900;
			margin-left: -50px;
			height: 50px;
			padding-top: 20px;
		}
		.row {
			width: 100%;
		}
		.cell {
			width: 25%;
			text-align: left;
		}
		.noteCell {
			width: 95%;
			text-align: left;
		}
		.activeCell {
			width: 5%;
			text-align: left;
		}
		.saveEditCell {
			width: calc(100% - 50px);
			text-align: right;
			padding-top: 10px;
			padding-right: 20px;
		}
		textarea {
			width: calc(100% - 50px - 35px);
		}
		.breakLine {
			margin-left: -10%;
		}
	</style>
	<script language="javascript">
		function check() {
			var email = document.getElementbyid("email");
			if (!email.checkValidity())
				email.setCustomvalidity("Please enter the right email format!");
        }
        getClientIdFromURL();
        function getClientIdFromURL() {
            var args = location.href.split('?');
            console.log(args);
            var params = "";
            if (args.length > 1) {
                params = args[1].split('=');
                console.log(params);
            }
            var clientId = "";
            if (params.length > 1) {
                clientId = params[1];
                console.log(clientId);
            }

            if (clientId != "") {
                loadClientData(clientId);
            }
        }
        function loadClientData(clientId) {
            console.log(clientId);
            var dataPost = clientId;
            $.ajax({
                url: '/AddClient/GetClient',
                type: 'POST',
                data: JSON.stringify(dataPost),
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    var returnedData = JSON.parse(result);
                    var currentClient = returnedData;
                    var firstName = currentClient["First_Name"];
                    var lastName = currentClient["Last_Name"];
                    var middleinitial = currentClient["Middle_initial"];
                    var organization = currentClient["Org"];
                    if (currentClient['Email'] != null)
                        $('.emailInput').val(currentClient['Email']['Email']);
                    if (currentClient['Phone'] != null)
                        $('.phoneInput').val(currentClient['Phone']['Number']);
                    if (currentClient['Org'] != null) {
                        $('.companyInput').val(currentClient['Org']['Org_Name']);
                    }
                    console.log(currentClient['Address']);
                    if (currentClient['Address'] != null) {
                        console.log(currentClient['Address']['LineOne']);
                        $('.addressLineOneInput').val(currentClient['Address']['LineOne']);
                    }
                    if (currentClient['Address'] != null) {
                        console.log(currentClient['Address']['LineTwo']);
                        $('.addressLineTwoInput').val(currentClient['Address']['LineTwo']);
                    }
                    if (currentClient['Address'] != null) {
                        $('.cityInput').val(currentClient['Address']['City']);
                    }
                    if (currentClient['Address'] != null) {
                        $('.stateInput').val(currentClient['Address']['State']);
                    }
                    if (currentClient['Address'] != null) {
                        $('.zipInput').val(currentClient['Address']['Zipcode']);
                    }
                    var company = currentClient["Company"];
                    var isActive = currentClient["Active"];
                    var note = currentClient["Notes"];
                    $('.firstNameInput').val(firstName);
                    $('.middleInitialInput').val(middleinitial);
                    $('.lastNameInput').val(lastName);
                    if (isActive) {
                        console.log(isActive);
                        $(".activeInput").prop( "checked", true );
                    }
                    $('.noteInput').val(note);
                },
                async: true,
                processData: false
            });
        }

        function saveClientData() {
            var args = location.href.split('?');
            console.log(args);
            var params = "";
            if (args.length > 1) {
                params = args[1].split('=');
                console.log(params);
            }
            var clientId = "";
            if (params.length > 1) {
                clientId = params[1];
                console.log(clientId);
            }
            var firstName = $('.firstNameInput').val();
            var lastName = $('.lastNameInput').val();
            var organization = $('.lastNameInput').text();

            var dataPost = clientId + ',' + firstName + ',' + lastName + ',' + organization;
            $.ajax({
                url: '/AddClient/UpdateClient',
                type: 'POST',
                data: JSON.stringify(dataPost),
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    console.log('Yeay!')
                    console(JSON.parse(result));
                },
                async: true,
                processData: false
            });
        }
	</script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
	<div style="position: absolute; left: 15%; top: 10%; width: 85%;">
		<form action="" method="get" id="client_info" onchange="submitForm();" onsubmit="return check()">
			<div style="margin-left: 10%; width: 80%; height: 100%; top: 0; left: 0; border-collapse: collapse;">
				<div class="tableHeader">Client Information</div>
				<div class="row">
					<div class="cell">Prefix<br /><input type="text" placeholder="" style="width: 45px" tabindex="1"></div>
					<div class="cell">First Name*<br /><input type="text" class="firstNameInput" placeholder="First Name" required tabindex="2"></div>
					<div class="cell">Last Name*<br /><input type="text" class="lastNameInput" placeholder="Last Name" required tabindex="3"></div>
					<div class="cell">Middle Initial<br /><input type="text" class="middleInitialInput" placeholder="MI" style="width: 35px" tabindex="4"></div>
				</div>
				<hr class="breakLine" />
				<div class="row">
					<div class="cell">
						Organization Type*<br />
						<select name="Organization" class="organizationInput" size="1" required tabindex="5">

							<option placeholder="">School</option>
							<option placeholder="">Government</option>
							<option> </option>
						</select>
					</div>
					<div class="cell">Company name<br /><input type="text" class="companyInput" tabindex="6"></div>
					<div class="cell">Job title<br /><input type="text" tabindex="7"></div>
				</div>
				<div class="tableHeader">Contact Information</div>
				<div class="row">
					<div class="cell">Address Line1*<br /><input class="addressLineOneInput" type="text" placeholder="Address Line 1" required tabindex="8"></div>
					<div class="cell">City*<br /><input class="cityInput" type="text" placeholder="City" required tabindex="10"></div>
					<div class="cell">
						State<br /><select class="stateInput" name="state" tabindex="11">
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="DC">District Of Columbia</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>
					</div>
					<div class="cell">Zipcode *<br /><input class="zipInput" type="text" placeholder="Zip Code" required pattern="[0-9 -]{5,10}" tabindex="12"></div>
				</div>
				<div class="row">
					<div class="cell">Address Line2<br /><input class="addressLineTwoInput" type="text" placeholder="Address Line 2" tabindex="9"></div>
				</div>
				<hr class="breakLine" />
				<div class="row">
					<div class="cell">Email address*<br /><input class="emailInput" type="email" id="email" placeholder="Email" required tabindex="14"></div>
					<div class="cell">Phone Number<br /><input class="phoneInput" type="tel" placeholder="999-999-999" pattern="[0-9 -]{12}" tabindex="15"></div>
				</div>
				<div class="tableHeader">Miscellaneous</div>
				<div class="row">
					<div>Active<br /><input class="activeInput" type="checkbox" tabindex="16"></div>
					<div class="noteCell">Note<br /><textarea name="Note" class="noteInput" rows="3" cols="125" tabindex="17"></textArea><div>
				</div>
				<div class="row">
					<div class="saveEditCell"><input onclick="saveClientData()" value="Save" id="button" tabindex="18"></div>
				</div>
			</div>
		</form>
	</div>
</body>