@page
@model SUP.Pages.Login.LoginModel
@{
	Layout = null;
}
    <head>
        <title>Login</title>
        <meta http-equive="Content-Type" charset="utf-8">
        <script language="javascript">
			function Login() {
                /*if (model.Login("TEST", "test")) {
                    alert("Oh Yayyy! You got it!");
                }
                else {
                    alert("Sorry, this username/password combination is not valid！");
                }*/

                document.getElementById("error").innerHTML = "Your account has been locked！";
            }
        </script>
        <link href="~/css/site.css" rel="stylesheet" type="text/css">


    </head>

<body>
    <div class="body yellow">
        <img src="/images/logo.jpg" />
        <br />
        <p><h7>Username:&nbsp;</h7><input type="name" style="height:30px;width:200px;" /></p>
        <p><h7>Password:&nbsp;&nbsp;</h7><input type="password" style="height:30px;width:200px;" /></p>
        <p></p><a id="error"></a></p>
        <br />
        <button type="login" style="display:inline" onclick="Login()"><h7>Login</h7></button>
    </div>

</body>

