@page
@model SUP.Pages.Login.LoginModel
@{
    Layout = null;
}
<head>
    <title>Login</title>
    <meta http-equive="Content-Type" charset="utf-8">
    <script language="javascript">
			function Login()
            {
                /*if (model.Login("TEST", "test")) {
                    alert("Oh Yayyy! You got it!");
                }
                else {
                    alert("Sorry, this username/password combination is not valid！");
                }*/

                document.getElementById("error").innerHTML = "Your account has been locked！";
			}
    </script>
    <style type="text/css">
        .yellow {
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 15%;
            background-image: linear-gradient(to top,white,#FFD700);
        }

        td {
            text-align: center;
        }

        #error {
            color: red;
        }
    </style>


</head>

<body>

    <div class="body yellow">
        <table width="100%" border="0">
            <tbody>
                <tr>
                    <td><img src="logo.jpg" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td><h7>Username:</h7><input class="UsernameInput" type="name" style="height:30px;width:200px;" /></td>
                </tr>
                <tr>
                    <td><h7>Password:&ensp;</h7><input class="PasswordInput" type="password" style="height:30px;width:200px;" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a id="error"></a></td>
                </tr>
            </tbody>
        </table>

        <button type="login" style="display:inline" onclick="Login()"><h7>Login</h7></button>


    </div>
</body>
